<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }}{% if current_tags %} – {{ current_tags | join: ', ' }}{% endif %}{% if current_page != 1 %} – {{ 'general.page' | t }} {{ current_page }}{% endif %}{% unless page_title contains shop.name %} – {{ shop.name }}{% endunless %}</title>
    {{ content_for_header }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500;600&display=swap">
    <style>
      :root {
        --color-accent: {{ settings.accent_color }};
      }
    </style>
    {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% section 'header' %}
    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>
